 
<div class="container-fluid">

    <h2>Create a new Quote</h2>
    
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <input class="form-control" id="quote" [(ngModel)]="newQuote.quote" quote="quote" #quote='ngModel' name='quote' required>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-primary">
                <p>Quote is required</p>
            </div>
            
  
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <textarea class="form-control" id="quote" [(ngModel)]="newQuote.author" quote="author" #author="ngModel" name='author' required></textarea>
            <div [hidden]="author.valid || author.pristine" class="alert alert-primary" >
                <p>Author is required</p>
            </div> 
  
        </div>
        <div class="form-group">
  
            <label for="description">Added By</label>
            <textarea class="form-control" id="addedby" [(ngModel)]="newQuote.addedby" quote="addedby" name='addedby' #addedby="ngModel" required></textarea>
            <div [hidden]="addedby.valid || addedby.pristine" class="alert alert-primary">
                <p>Submitter required</p>
            </div>
  
        </div>
        <!-- <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.finalDate" quote="finalDate" name='date' #finalDate="ngModel" required>
           <div [hidden]="finalDate.valid || finalDate.pristine" class="alert alert-primary">
                <p>Date is required</p>
            </div> 
  
        </div> -->
        <button type="submit" class="btn btn-primary">Add Quote</button>
    </form>
</div>