@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

.jumbotron{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://bit.ly/37WVSsG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    color:pink;
}
h1 {
    font-family:'Solway', serif;

}