<head></head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1><b>JUST QUOTE IT</b></h1>
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let quote of quotes; let i = index">
            {{ quote.quote }}

            <div>
              <button (click)="upvote(i)" class="btn btn-success">
                upvote <span>{{ quote.upvote }}</span></button
              >&nbsp;
              <button (click)="downvote(i)" class="btn btn-danger">
                downvote <span>{{ quote.downvote }}</span></button
              ><br /><br />
              <app-quot-detail
                *ngIf="quote.showDetails"
                [quote]="quote"
                (isComplete)="deleteQuote($event, i)"
              >
              </app-quot-detail>
              <button (click)="toggleDetails(i)" class="btn btn-primary">
                Show More</button
              >&nbsp;
              <!-- <button (click)="quoteDelete(true)" class="btn btn-danger">
                delete quote
              </button> -->
            </div>
          </div>

          <div class="col-md-6">
            <app-form (addQuote)="addNewQuote($event)"></app-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
